/*
COLORS:
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft .75s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-bottom: 6rem;
    animation: moveInRight .75s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .25s; }
  .heading-secondary:hover {
    text-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    cursor: default; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-mb-8 {
  margin-bottom: 8rem !important; }

.u-mb-4 {
  margin-bottom: 4rem !important; }

.u-mb-2 {
  margin-bottom: 1.5rem !important; }

.u-mt-8 {
  margin-top: 8rem !important; }

.u-mt-4 {
  margin-top: 4rem !important; }

.btn {
  border: none;
  outline: none; }
  .btn, .btn:link, .btn:visited {
    cursor: pointer;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 15rem;
    position: relative;
    padding: 1.5rem 4rem;
    transition: all .2s;
    backface-visibility: hidden; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.1) scaleY(1.3);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background: #55c57a;
    color: rgba(255, 255, 255, 0.9); }
    .btn--green::after {
      background-color: #55c57a; }
  .btn::after {
    transition: all .4s;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .btn--animated {
    animation: moveInBottom .7s .3s;
    animation-fill-mode: backwards; }

.btn-text {
  outline: none;
  border: none; }
  .btn-text, .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #28b485;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #28b485;
    padding: 3px;
    transition: all .25s; }
  .btn-text:hover {
    background: #28b485;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.composition {
  position: relative;
  backface-visibility: hidden; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    transition: all .25s;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 2rem;
      top: 5rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #28b485;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 2; }

.feature-box {
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all .3s;
  backface-visibility: hidden; }
  .feature-box__icon {
    backface-visibility: hidden;
    font-size: 6rem;
    margin-bottom: 2.5rem;
    background: linear-gradient(to right, #55c57a, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    backface-visibility: hidden; }
  .feature-box:hover {
    backface-visibility: hidden;
    cursor: pointer;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1); }

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  backface-visibility: hidden;
  height: 51rem; }
  .card__side {
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: tomato;
    height: 50rem;
    transition: all 1s ease;
    color: #fff;
    font-size: 2rem;
    backface-visibility: hidden;
    height: 51rem; }
    .card__side--front {
      backface-visibility: hidden;
      z-index: 2;
      background: #fff; }
    .card__side--back {
      backface-visibility: hidden;
      z-index: 1;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background: linear-gradient(to right bottom, #55c57a, #28b485); }
      .card__side--back-3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("/img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #55c57a, #28b485), url("/img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("/img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    text-transform: uppercase; }
    .card__heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      margin: 0;
      background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
      .card__heading-span-2 {
        background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)); }
      .card__heading-span-3 {
        background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details {
    padding: 3rem;
    color: #777; }
    .card__details ul {
      margin: 0 auto;
      list-style: none;
      width: 80%; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    text-align: center;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin: 0; }

.story {
  backface-visibility: hidden;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  background: rgba(255, 255, 255, 0.6); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    backface-visibility: hidden;
    position: relative;
    width: 15rem;
    height: 15rem;
    background: tomato;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
  .story__img {
    transition: .5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    backface-visibility: hidden; }
  .story__caption {
    transition: all .5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1.05);
    filter: blur(5px) brightness(70%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }
.form__input {
  color: #404040;
  transition: all .15s;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #7ed56f; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5); }
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3.5rem); }
.form__label {
  transition: all .5s;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block; }
.form__radio-group {
  width: 49%;
  display: inline-block; }
.form__radio-label {
  position: relative;
  font-size: 1.6rem;
  padding-left: 3rem;
  cursor: pointer; }
.form__radio-button {
  position: absolute;
  top: -.4rem;
  left: -.3rem;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 5px solid #28b485;
  border-radius: 50%; }
  .form__radio-button::after {
    transition: opacity .2s;
    background: #28b485;
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }
.form__radio-input {
  display: none; }
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.row {
  max-width: 114rem;
  margin: 8rem auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2 ); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-3 {
    width: calc(((100% - (2 * 6rem)) / 3) * 2 + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (3 * 6rem)) / 4) + 2* 6rem); }

.header {
  width: 100%;
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background: #404040;
  padding: 10rem 0;
  border-top-style: 1.4rem;
  color: rgba(255, 255, 255, 0.6); }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    padding-top: 2rem;
    display: inline-block;
    margin: 0 auto;
    border-top: 2px solid rgba(255, 255, 255, 0.8); }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1rem; }
  .footer__link:link, .footer__link:visited {
    transition: all .25s;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase; }
  .footer__link:hover, .footer__link:active {
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    color: #fff; }
  .footer__copyright {
    padding-top: 2rem;
    display: inline-block;
    margin: 0 auto;
    border-top: 2px solid rgba(255, 255, 255, 0.8); }

.navigation__checkbox {
  display: none; }
.navigation__button {
  background: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer; }
.navigation__bg {
  transition: all .5s;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transform: scale(1); }
.navigation__nav {
  transition: all .3s;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden; }
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }
.navigation__item {
  margin: 1rem; }
.navigation__link {
  backface-visibility: hidden;
  padding: .5rem 1rem;
  display: inline-block;
  transition: all .3s;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(125deg, transparent 50%, #fff 50%, #fff 50%);
  background-size: 250%; }
  .navigation__link:hover {
    background-position: 100%;
    color: #28b485;
    transform: translateX(1rem); }
.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(80); }
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible; }
.navigation__icon {
  margin-top: 3.4rem;
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3.5rem;
    height: .3rem;
    background: #404040;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    transition: all .1s;
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }
.navigation__button:hover {
  background: #f2f2f2; }
.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background: transparent; }
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.section-about {
  background: #f7f7f7;
  margin-top: -20vh;
  padding: 20rem 5rem 30rem 5rem; }

.section-features {
  padding: 20rem 2rem;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("/img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10.5rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 25rem 0 10rem 0;
  background: #f7f7f7;
  margin-top: -10rem; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.section-book {
  padding: 15rem 0;
  background: linear-gradient(to right bottom, #55c57a, #28b485); }

.book {
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("/img/nat-10.jpg");
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  height: 50rem; }
  .book__form {
    width: 50%;
    padding: 6rem; }

/*# sourceMappingURL=style.css.map */
